/* .mat-button-base{
    margin-right: 1em;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: serif;
} */

.navbar{
    /* position: fixed; */
    overflow: hidden;
    
    
    width: 100%;
}

.nav-item{
  float: right;
}
.navbar a{
    float: left;
  display: block;
  color: black;
  text-align: center;
  padding-top: 5px;
  text-decoration: none;
  
}
.navbar a:hover {
    background: #ddd;
    color: black;
  }

